    <form>

      <div class="panel-group col-md-8">
        <div class="panel panel-default">

          <div class="panel-heading">
            <h4> Элемент</h4>
          </div>

          <div class="panel-body">
            <div class="col-md-2">
              Имя:
            </div>
            <div class="col-md-10">
              <%= label_tag @item.name%>
            </div>
            <div class="col-md-2">
              Описание:
            </div>
            <div class="col-md-10">
              <%= label_tag @item.description%>
            </div>
            <div class="col-md-2">
              Вес:
            </div>
            <div class="col-md-10" >
              <%= label_tag @item.weight%>
            </div>
          </div>

          <div class="panel-footer">

          </div>
        </div>

      </div><!-- panel-group -->

    </form>